body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

table {
  table-layout: fixed;
}

th {
  position: sticky;
  top: 0;
}

.name-col {
  width: 28ch
}

.prop-col {
  width: 11ch
}

.subobj-col {
  width: 15ch
}

/*
styling
*/
table {
  box-shadow: inset 0 0 1ch #3ee;
  margin: 1em 0 10em;
}

caption {
  padding: 1ch;
  font-size: 2em;
  font-variant: small-caps;
}

th, td {
  text-align: left;
  padding: 1ch;
}

th {
  background: #333;
  color: #ddd;
  transition: all 0.5s;
}

th:hover {
  cursor: pointer;
  background: #3ee;
  color: #222;
}

tbody tr:hover {
  transition: all 0.3s;
  background: #3ee;
}

tbody tr:hover td {
  transition: all 0.5s;
  color: black;
}

.asc::after {
  content: "↑";
  padding-left: 1ch;
}

.desc::after {
  content: "↓";
  padding-left: 1ch;
}

td:first-of-type {
  color: lightgray
}

.elm-name {
  color: black
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

/*.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
